*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    margin-top: 0;
}
img{
    border: 0px;
    margin-top: 0;
}
ul,ol{
    list-style-type: none;
    margin-top: 0;
}
body{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6,address{
    margin-top: 0;
    margin-bottom: 0;
}
.clr{
    clear: both;
}
.pdl{
    padding-left: 0;
}
.pdr{
    padding-right: 0;
}
.pdlr{
    padding-left: 0;
    padding-right: 0;
}
/*common codes ends here*/
























