/*
Project-05
Start Date: 18-01-17
............................
Bloom-Creative-Agency-Design
............................
----------------
Table of content
----------------
01.Home
    1.1.Header
        1.1.1.Logo
        1.1.2.Nav right
    1.2.Creative Agency
    1.3.Services
    1.4.PortFolio
    1.5.Blog
    1.6.Footer
Creating For Class Project By Shahadot_Shr Rahat.
*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
div{
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration: none;
}
img{
    border: 0px;
    max-width: 100%;
}
ul,ol{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
body{
    
}
.clr{
    clear: both;
}
.pl{
    padding-left: 0;
}
.pr{
    padding-right: 0;
}
.plr{
    padding-left: 0;
    padding-right: 0;
}
.ml{
    margin-left: 0;
}
.mr{
    margin-right: 0;
}
.mlr{
    margin-left: 0;
    margin-right: 0;
}
/*common codes ends here*/
/*Home all hover/active part css*/
#header_bg .menu ul li a:hover,
#header_bg .menu ul .active
{
    color: #753d9d;
}
#header_bg .ancor_tag .get:hover{
    background: #753d9d;
}
#header_bg .ancor_tag .take:hover{
    border-color: #fff;
    background: none;
}
#Creative_container .chtext a:hover{}
#footer_container #footer_copyrightr .social_icon i:hover{
    color: #753d9d;
}
/*Home Part all after/before css*/

/*Home part css start here*/
/*Header part css start*/
#header_bg{
    background: url(../images/header-banner-image.png) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 652px;
}
#header_container{
    width: 1170px;
    margin: 0 auto;
}
#header{
    height: auto;
}
/*Logo part css start*/
#header_bg .logo{
    width: 530px;
    float: left;
}
#header_bg .logo img{
    margin-top: 30px;
    margin-left: 15px;
}
/*menu part css start here*/
#header_bg .menu{
    width: 613px;
    float: left;
}
#header_bg .menu ul{
    padding-top: 42px;
}
#header_bg .menu ul li{
    float: left;
}
#header_bg .menu ul li a{
    color: #ffffff;
    text-transform: uppercase;
    font-family: mttreg;
    font-size: 15px;
    padding-left: 15px;
    transition: all linear 0.3s;
}
/*header text part css*/
#header_bg .header_text{
    padding-top: 150px;
    text-align: center;
}
#header_bg .header_text h1{
    font-family: mttxb;
    font-size: 70px;
    color: #ffffff;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
#header_bg .header_text h1 span{
    color: #a066c9;
}
#header_bg .header_text p{
    text-align: center;
    font-family: mttreg;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 38px;
    line-height: 24px;
}
/*achor part css*/
#header_bg .ancor_tag{
    margin-top: 28px;
}
#header_bg .ancor_tag .get{
    font-family: mttreg;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    padding: 22px 60px;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: all linear 0.3s;
}
#header_bg .ancor_tag .take{
    font-family: mttreg;
    font-size: 16px;
    color: #fff;
    padding: 22px 60px;
    background: #753d9d;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all linear 0.3s;
}
/*1st section header banner part css ends here*/
#full_border{
    width: 100%;
    height: 490px;
    border-bottom: 3px solid #e0e0e0;
}
#Creative_container{
    width: 1170px;
    margin: 0 auto;
}
#Creative_container .chtext{
    width: 654px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
#Creative_container .chtext h2{
    font-family: mttsb;
    font-size: 36px;
    color: #0d113d;
    padding-top: 62px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
#Creative_container .chtext h2 strong{
    color: #753d9d;
    padding-left: 10px;
}
#Creative_container .chtext h2 span{
    font-family: mttl;
}
#Creative_container .chtext p{
    font-family: mttl;
    font-size: 15px;
    text-align: justify;
    color: #0d113d;
    line-height: 24px;
    padding-bottom: 65px;
}
#Creative_container .chtext a{
    font-family: mttreg;
    font-size: 18px;
    text-transform: uppercase;
    color: #0d113d;
    padding: 24px 74px;
    border-left: 3px solid #0d113d;
    border-right: 3px solid #0d113d;
    border-top: 2px solid #0d113d;
    border-bottom: 2px solid #0d113d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#Creative_container .chimage{
    width: 457px;
    float: left;
    padding: 50px 0px 50px 15px;
}
/**/
#chrt_container{
    width: 1170px;
    margin: 0 auto;
}
#chrt_container .chcrt{
    width: 360px;
    float: left;
    padding: 52px 15px;
}
#chrt_container .chcrt .chcrtimg img{
    padding-right: 17px;
    padding-bottom: 22px;
}
#chrt_container .chcrt .chcrtimg h3{
    font-family: mttsb;
    font-size: 21px;
    color: #0d113d;
    text-transform: uppercase;
    padding-top: 21px;
    float: right;
}
#chrt_container .chcrt p{
    font-family: mttl;
    font-size: 15px;
    color: #0d113d;
    text-align: justify;
    line-height: 24px;
}
#chrt_container .chcrt .chcrtimg{
    width: 188px;
}
#chrt_container .chcrt .chcrtimg .padrig{
    padding-right: 10px;
}
#chrt_container .chcrt .chcrtimg .padrig01{
    padding-right: 29px;
}
/*end of section 2*/
#creative_bg{
    background: url(../images/creative-agency-banner-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 344px;
}
#creative_container{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
#creative_container h2{
    font-family: mttsb;
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding: 75px 0px 75px;
}
#creative_container a{
    font-family: mttreg;
    font-size: 18px;
    color: #fff;
    background: #753d9d;
    padding: 25px 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
/*end of 3rd sec*/
#full_border_two{
    border-bottom: 3px solid #e0e0e0;
    height: 818px;
}
#services_container{
    width: 1170px;
    margin: 0 auto;
}
#services_container .head_text{
    height: 38px;
    margin: 53px 15px 20px;
    border-left: 5px solid #753d9d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
#services_container .head_text h2{
    font-family: mttsb;
    font-size: 26px;
    color: #0d113d;
    text-transform: uppercase;
    padding-left: 10px;
}
#services_container .serv_img{
    width: 263px;
    height: 340px;
    float: left;
    background: url(../images/serV01.png) no-repeat;
    margin: 0px 14px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .serv_img h3{
    font-family: mttsb;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffffe6;
    padding-top: 298px;
    padding-left: 20px;
}
#services_container .serv_img02{
    width: 263px;
    height: 340px;
    float: left;
    background: url(../images/serV02.png) no-repeat;
    margin: 0px 15px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .serv_img02 h3{
    font-family: mttsb;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffffe6;
    padding-top: 298px;
    padding-left: 20px;
}
#services_container .serv_img03{
    width: 263px;
    height: 340px;
    float: left;
    background: url(../images/serV03.png) no-repeat;
    margin: 0px 15px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .serv_img03 h3{
    font-family: mttsb;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffffe6;
    padding-top: 298px;
    padding-left: 20px;
}
#services_container .serv_img04{
    width: 263px;
    height: 340px;
    float: left;
    background: url(../images/serV04.png) no-repeat;
    margin: 0px 15px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .serv_img04 h3{
    font-family: mttsb;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffffe6;
    padding-top: 298px;
    padding-left: 20px;
}
#services_container .serv_img05{
    width: 654px;
    height: 338px;
    float: left;
    background: url(../images/serV05.png) no-repeat;
    margin: 0px 15px 55px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .serv_img05 h3{
    font-family: mttsb;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffffe6;
    padding-top: 298px;
    padding-left: 20px;
}
#services_container .all_serv{
    width: 457px;
    height: 338px;
    float: left;
    background: #0d113d;
    margin-left: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#services_container .all_serv h3{
    font-family: mttsb;
    font-size: 22px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    padding-top: 245px;
    padding-right: 45px;
    position: relative;
}
#services_container .all_serv h3::after{
    content: '';
    width: 92px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 54%;
    top: 104%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
/**/
#great_container{
    width: 1170px;
    margin: 0 auto;
}
#great_container .geimage{
    width: 555px;
    float: left;
    padding: 0px 15px;
}
#great_container .geimage img{
    padding-top: 78px;
    padding-left: 130px;
}
#great_container .getext{
    width: 555px;
    float: left;
    padding: 0px 15px 0px 15px;
}
#great_container .getext h2{
    padding-top: 45px;
    padding-bottom: 22px;
    font-family: mttsb;
    font-size: 33px;
    text-transform: capitalize;
    color: #0d113d;
}
#great_container .getext p{
    font-family: mttl;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 24px;
    color: #0d113d;
    padding-bottom: 32px;
    text-align: justify;
}
#great_container .getext ul li{
    font-family: mttl;
    font-size: 15px;
    line-height: 31px;
    color: #616161;
}
#great_container .getext ul li i{
    color: #a5a5a5;
    padding-right: 6px;
}
/**/
#con_bg_c{
    background: #753d9d;
    height: 130px;
    margin-top: -5px;
}
#con_container{
    width: 1170px;
    margin: 0 auto;
}
#con_container .con_text{
    width: 848px;
    float: left;
    padding-left: 15px;
}
#con_container .con_text h3{
    font-family: mttsb;
    font-size: 25px;
    color: #fff;
    line-height: 129px;
}
#con_container .con_anchor{
    width: 277px;
    float: left;
    text-align: right;
    line-height: 129px;
}
#con_container .con_anchor a{
    font-family: mttreg;
    font-size: 18px;
    color: #fff;
    padding: 23px 70px;
    text-transform: uppercase;
    border: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
/**/
#port_container{
    width: 1170px;
    margin: 0 auto;
}
#port_container .port_text{
    height: 38px;
    margin: 50px 15px 32px;
    border-left: 5px solid #753d9d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#port_container .port_text h3{
    font-family: mttsb;
    font-size: 26px;
    color: #0d113d;
    text-transform: uppercase;
    margin-left: 14px;
    line-height: 38px;
    float: left;
}
#port_container .port_text i{
    float: right;
    line-height: 38px;
    padding-left: 15px;
    color: #753d9d;
}
#port_container .port_image{
    
}
#port_container .port_image .pimg{
    float: left;
    padding: 0px 13px 57px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#port_container #blog_part{
    margin: 0px 15px 25px;
    height: 38px;
    border-left: 5px solid #753d9d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#port_container #blog_part h3{
    font-family: mttsb;
    font-size: 26px;
    color: #0d113d;
    padding-left: 14px;
    line-height: 38px;
}
#port_container .blog_text{
    margin: 0px 15px 68px;
}
#port_container .blog_text .blog_text_head{
    height: 100px;
    border-bottom: 2px solid #f2f2f2;
}
#port_container .blog_text .blog_text_head .heading{
    float: left;
    width: 750px;
    padding-right: 15px;
}
#port_container .blog_text .blog_text_head .heading h5{
    font-family: mttsb;
    font-size: 18px;
    margin-top: 39px;
    color: #753d9d;
    text-transform: capitalize;
    text-align: justify;
}
#port_container .blog_text .blog_text_head .para{
    float: left;
    width: 165px;
    padding: 0px 15px;
}
#port_container .blog_text .blog_text_head .para p{
    font-family: mttreg;
    font-size: 15px;
    line-height: 100px;
    color: #a2a2a2;
    text-transform: capitalize;
}
#port_container .blog_text .blog_text_head .lastheading{
    float: left;
    width: 165px;
    padding-left: 15px;
}
#port_container .blog_text .blog_text_head .lastheading h6{
    font-family: mttreg;
    font-size: 15px;
    color: #0d113d;
    line-height: 100px;
}
#port_container .blog_text .blog_text_head .lastheading span{
    color: #a2a2a2;
    padding-right: 6px;
}
#port_container .blog_text{}
#port_container .blog_text{}
#port_container .blog_text{}
#port_container .blog_text{}
#port_container .blog_text{}
/**/
#bgcolor{
    background: #0d113d;
    height: 541px;
}
#footer_container{
    width: 1170px;
    margin: 0 auto;
}
#footer_container .newsletter{
    margin: 0px 15px;
    background: #753d9d;
    height: 121px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#footer_container .newsletter .news_heading{
    width: 360px;
    float: left;
}
#footer_container .newsletter .news_heading h4{
    font-family: mttsb;
    font-size: 21px;
    color: #fff;
    padding: 35px 0px 9px 18px;
}
#footer_container .newsletter .news_heading h6{
    font-family: mttl;
    font-size: 15px;
    color: #fff;
    padding-left: 18px;
}
#footer_container .newsletter .news_email{
    width: 488px;
    float: left;
    padding-right: 15px;
}
#footer_container .newsletter .news_email .email{
    width: 458px;
    height: 52px;
    border: 2px solid #d3b1eb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 28px 0px;
    padding-left: 28px;
    background-color: #753d9d;
    font-family: mttl;
    font-size: 15px;
    color: #e0c2f6;
    text-transform: capitalize;
}
#footer_container .newsletter .news_send{
    width: 262px;
    float: left;
    padding-left: 15px;
}
#footer_container .newsletter .news_send .submit{
    font-family: mttreg;
    font-size: 15px;
    color: #fff;
    background: #753d9d;
    width: 204px;
    height: 52px;
    border: 2px solid #d3b1eb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding-left: 8px;
    margin: 28px 0px;
}
#footer_container #footer_menu{
    height: 328px;
    border-bottom: 1px solid #1e224d;
}
#footer_container #footer_menu .footer_logo{
    width: 555px;
    float: left;
    margin: 62px 15px 0px;
}
#footer_container #footer_menu .footer_logo img{
    padding-bottom: 28px;
}
#footer_container #footer_menu .footer_logo p{
    font-family: mttl;
    font-size: 15px;
    color: #fff;
    line-height: 24px;
    text-align: justify;
}
#footer_container #footer_menu .footer_list{
    width: 555px;
    float: left;
    margin: 88px 15px 0px;
}
#footer_container #footer_menu .footer_list .list{
    width: 115px;
    float: left;
    padding-left: 15px;
    margin-right: 55px;
    
}
#footer_container #footer_menu .footer_list .list ul{
    
}
#footer_container #footer_menu .footer_list .list ul li{
    
}
#footer_container #footer_menu .footer_list .list ul li a{
    font-family: mttl;
    font-size: 15px;
    color: #fff;
    line-height: 34px;
}
#footer_container #footer_copyrightr .end_text{
    width: 950px;
    float: left;
    margin: 0px 15px;
}
#footer_container #footer_copyrightr .end_text h4{
    font-family: mttl;
    font-size: 15px;
    color: #b3b5d1;
    padding-top: 36px;
}
#footer_container #footer_copyrightr .social_icon{
    width: 165px;
    float: left;
    margin-left: 15px;
}
#footer_container #footer_copyrightr .social_icon a i{
    color: #fff;
    float: right;
    margin: 36px 0px 0px 28px;
    transition: all linear 0.3s;
}











